@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the HR & Payroll Sprout Solutions website. Sprout Solutions automates all the administrative tasks around HR and Payroll. It's important to our clients that our applications run correctly and efficiently.</p>   
    <img src="~/lib/Content/img/Sprout Company.jpg" width="600" height="300">
</div>
